.center{
    width: fit-content;
    margin: auto;
    text-align: center;
    background-color: aqua;
    padding: 10px;
    margin-top: 125px;
}

.p1{
    background-color: aquamarine;
}
.p2{
    background-color: blanchedalmond;
}
.p3{
    background-color: #67a7df;
}